h1 {
  text-align: center;
  color: #91bed7;
  font-family: "Comfortaa", cursive;
  font-size: 55px;
}
h2,
h3 {
  text-align: center;
  color: #91bed7;
  font-family: "Comfortaa", cursive;
}
.todays-weather {
  font-family: "Josefin Slab", serif;
  line-height: 30px;
  position: relative;
  right: 20px;
  font-size: 60px;
  padding-top: 130px;
  text-align: center;
  color: white;
}
.container {
  background-image: url("../images/mountains.webp");
  background-size: cover;
  border-radius: 30px;
  padding: 60px 20px;
  width: 1000px;
}

.city-search {
  text-align: center;
}
.todays-icon {
  position: relative;
  left: 20px;
  padding: 30px 0;
}
.humidity-and-wind,
#humidity,
#wind,
#percent,
#kmh,
#description {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
.col {
  text-align: center;
  font-family: "Josefin Slab", serif;
  color: white;
}
.currentTemp,
.units {
  font-weight: 900;
}
.footer {
  text-align: center;
}
